@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
    font-family: 'Roboto',  sans-serif;
    position:relative;
  }
}

.card {
  padding: 2em;
  position:relative;
}

.read-the-docs {
  color: #888;
  position:relative;
}

.banner{
  background-image: url(src/assets/Icons/banner.jpg);
  padding: 5%;
  color: white;
  display: grid;
  place-content: center;
  position:relative;
}

h1{
  display: grid;
  place-content: center;
  position:relative;
}

.cards_{
  margin-bottom: 100px;
}

.card-title{
  color:rgb(21, 105, 140);
}